@import "./--veriables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iran-sans;
  src: url("./Fonts/iran-sans.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: 0px;

  text-decoration: none;

  font : {
    family: iran-sans;
  }
}

body {
  width: 100%;
  height: 100dvh;

  a {
    color: #000;
  }

  #root {
    width: 100%;
    height: 100%;
  }
}

.activeLink {
  color: $primaryColor !important;
}

.rtl {
  direction: rtl;
}

// .relative {
//   position: relative;
// }

// .w-full {
//   width: 100%;
// }

// .w-800 {
//   width: 800px;
// }

// .h-400 {
//   height: 400px;
// }

// .truncate {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

// .line-clamp-2 {
//   overflow: hidden;
//   display: -webkit-box;
//   -webkit-box-orient: vertical;
//   -webkit-line-clamp: 2;
//   height: 45px;
// }

// .h-250 {
//   height: 250px !important;
// }

// .object-cover {
//   object-fit: cover;
// }

// .mt-6 {
//   margin-top: 6px;
// }
